.cartes--pop {
  display: flex;
  flex-direction: column;
  margin: 15px 40px 34px 37px;
  gap: 33px;
}
.carte--pop {
  margin: 0;
  display: flex;
  flex-direction: row;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: white;
  width: 343px;
  height: 144px;
}
.carte--pop__pic {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  padding: 3px 0 3px 3px;
  max-width: 137px;
  object-fit: cover;
}
.carte--pop__content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 10px;
  justify-content: space-around;
}
.carte--pop__header h3 {
  margin: 0 5px 0 0;
}
.carte--pop__body p {
  margin: 0;
}
.carte--pop__footer {
  display: flex;
}

@media screen and (max-width: 992px) {
  .cartes--pop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 30px 0 30px;
    max-width: 880px;
    gap: 23px;
    padding: 0 0 48px 0;
  }
  .carte--pop {
    max-width: 252px;
    height: 144px;
  }
  .carte--pop__pic {
    max-width: 106px;
    max-height: 144px;
  }
}
@media screen and (max-width: 767px) {
}
