/*** Fix ***/
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.entete {
  position: relative;
  width: 100%;
  height: 300px;
}

.smenu2 {
position: absolute;
top: 20px;
right: 90px;
}

.smenu1 {
  position: absolute;
  top: 20px;
  right: 230px;


}
.smenu2:hover {
  color: #0065fc;
}

.smenu1:hover {
  color: #0065fc;

}
.img, .logo2 {
  width: 85px;
  height: 25px;
}

.hebergements {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 800-px;
  height: 900px;
  background-color: #d9d9d9;
}
.hf-1, .hf-2, .hf-3, .hf-4, .hf-5, .hf-6 {
  width: 200px;
  height: 100px;
}

.titre1 {
  position: absolute;
  top: 60px;
}
.titre2 {
  position: absolute;
  top: 100px;
}
.barre {
  position: absolute;
  top: 150px;
}
.filtres  {
  display: flex;
  position: absolute;
  padding: 0;
  top: 180px;
  width: 1000px;
  height: 200px;
}

.filtre {
  position: absolute;
  top: 5px;
  display: flex;
  width: 500px;
  height: 100px;
  flex-direction: row;
  list-style-type: none;
}

.formulaire {
  position: absolute;
  top: 160px;
}

.test_menu {
  position: absolute;
  top: 50px;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: row;
  
}
.pied-de-page {
  position: relative;
  background-color: #d9d9d9;
  list-style: none;
}
.pg1 {
  list-style: none;
}
