/*** Fix ***/
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin-left: 40px;
  margin-right: 40px;
}

a {
  text-decoration: none;
  color: black;
}

/* -----------------------------------HEADER----------------------------------*/

header.entete {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.smenu {
  display: flex;
  justify-content: space-between;
}

.smenu2:hover {
  color: #0065fc;
}

.smenu1 {
  margin-right: 80px;
}

.smenu1:hover {
  color: #0065fc;
}
.img,
.logo2 {
  width: 85px;
  height: 25px;
}

/* ------------------------------ TITRE 1 et 2 -------------------------------*/

.titre1 {
  top: 60px;
  margin-bottom: 10px;
}
.titre2 {
  top: 100px;
  margin-top: 10px;
}

/* ------------------------------- FORMULAIRE -------------------------------*/

.formulaire {
  display: flex;
  width: 360px;
  top: 160px;
}
.barre {
  border: 1px solid #d9d9d9;
  text-indent: 10px;
  margin-left: 5px;
  width: 150px;
  height: 40px;
}
.rbouton {
  border: 2px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100px;
  height: 44px;
  background-color: #0065fc;
  color: white;
  margin-left: -6px;
}
.dot {
  border: 2px solid white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 50px;
  height: 44px;
  background-color: #d9d9d9;
  color: white;
}
.dot {
  display: flex;
  align-items: center;
  margin-right: -7px;
}
.dot :first-child {
  color: black;
  font-size: 18px;
  padding-left: 15px;
}

/* -------------------------------- MENU FILTRES -----------------------------*/
.filtres {
  display: flex;
  padding: 0;
  top: 180px;
  width: 1000px;
  height: 80px;
  align-items: baseline;
}
.boutons {
  width: 800px;
}

.filtre {
  top: 5px;
  display: flex;
  height: 100px;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
}
.bouton1 {
  display: flex;
  border: 2px solid #d9d9d9;
  width: 150px;
  height: 45px;
  padding: 7px;
  border-radius: 22.5px;
  flex-direction: row-reverse;
  padding-right: 15px;
  align-items: center;
}
.bouton2 {
  display: flex;
  border: 2px solid #d9d9d9;
  width: 110px;
  height: 45px;
  padding: 7px;
  border-radius: 22.5px;
  flex-direction: row-reverse;
  padding-right: 15px;
  align-items: center;
}
.bouton3 {
  display: flex;
  border: 2px solid #d9d9d9;
  width: 150px;
  height: 45px;
  padding: 7px;
  border-radius: 22.5px;
  flex-direction: row-reverse;
  padding-right: 15px;
  align-items: center;
}
.bouton4 {
  display: flex;
  border: 2px solid #d9d9d9;
  width: 220px;
  height: 45px;
  padding: 7px;
  border-radius: 22.5px;
  flex-direction: row-reverse;
  padding-right: 15px;
  align-items: center;
}
.bouton1:hover,
.bouton2:hover,
.bouton3:hover,
.bouton4:hover {
  background-color: #deebff;
}
.bouton1,
.bouton2,
.bouton3,
.bouton4 {
  font-weight: 700;
}

.fa-solid {
  color: #0065fc;
  padding-right: 10px;
}

/* -------------------------------- RESULTATS ------------------------------*/

.resultats {
  display: flex;
  align-items: center;
}
.nombre {
  margin-left: 15px;
}
.info {
  display: flex;
  justify-content: center;
  padding-top: 4px;
  font-family: "Montserrat", serif;
  width: 30px;
  height: 30px;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  color: #0065fc;
  font-size: 18px;
  font-weight: 700;
}
/* -------------------------------- SECTION -------------------------------*/

.hebergements {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 800-px;
  height: 900px;
  background-color: #d9d9d9;
}

.hf-1,
.hf-2,
.hf-3,
.hf-4,
.hf-5,
.hf-6 {
  width: 200px;
  height: 100px;
}

.test_menu {
  top: 50px;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: row;
}

/* -------------------------------FOOTER----------------------------------*/

.pied-de-page {
  display: flex;
  margin-right: 40px;
  width: 100%;
  height: 200px;
  background-color: #d9d9d9;
  flex-direction: row;
}
.pg {
  display: flex;
  width: 1400px;
  justify-content: flex-start;
}
.pg1,
.pg2,
.pg3 {
  list-style-type: none;
}
.pg1 {
  margin-left: 40px;
}
.pg2 {
  margin-left: 200px;
}
.pg3 {
  margin-left: 200px;
}

.p1,
.p2,
.p3,
.p4,
.p5,
.p6,
.p7 {
  padding-bottom: 10px;
}
